

body {
    font-size: medium;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: bisque;
}



#fireScreen {
    font-family: 'myfont';
    font-size: 2em;
    position: relative;
    background-image: url(DoomCapa.jpg);
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 5em;


}

@font-face {
    font-family: 'myfont';
    src: url('AmazDooMLeftOutline.ttf') format('truetype');
  }
    

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid #000;
    box-shadow: 10px 10px 15px black;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}

.pixel-index {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: rgb(119, 94, 10);
}

td.pixel {
    width: 4px;
    height: 4px;
    border: 0;
}

#buttonsBar {
    background-image: linear-gradient(orangered, orange);
    border: 2px solid red;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

button {
   margin-left: 1%;
   margin-right: 1%; 
}
button:hover {
    color: black;
    background-color: bisque;
}

.textPreview {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    align-content: center;
    text-align: center;
    color: aliceblue;
    
    
}

.icon-social-media {
    width: 2em;
    height: 2em;
}

.socialMedia {
    margin-bottom: 10%;
    display: flex;
    justify-content:center
}

audio{
    margin: 2%;
    box-shadow: 0px 0px 20px red;
    
}